  <div id="mainBookChallengInfo">
                    <article className="bookChallengInfo">
                        <img src="/images/hazel-wood.png"/>
                        <section>
                            <span>
                                5 minutes to complete chapter
                            </span>
                        </section>    
                        <section>
                            <img src="images/clock.png"></img>
                            <span>2 hour</span>
                        </section>
                    </article>
                    <article className="bookChallengInfo">
                        <img src="images/red-book.png"></img>
                        <section>
                            <span>
                                begin new chapter
                            </span>
                        </section>    
                        <section>
                            <img src="images/clock.png"></img>
                            <span>5 days</span>
                        </section>
                    </article>
                </div>